# Pipeline Configuration
pipeline:
  name: "Data Processing Pipeline"
  description: "A pipeline for processing and analyzing multi-dimensional data"
  visualisation: false  # Enable visualisation of the pipeline
# Steps in the pipeline
steps:
  - name: "Load OG1"
    parameters:
      file_path: "../../examples/data/OG1/Doombar_648_R.nc" # Path to the input NetCDF file
    diagnostics: false  # Enable diagnostics

  - name: "Derive CTD"
    parameters:
      to_derive: [
        "DEPTH",
        "PRAC_SALINITY",
        "ABS_SALINITY",
        "CONS_TEMP",
        "DENSITY"
      ]
    diagnostics: false

  - name: "Find Profiles"
    parameters:
      gradient_thresholds: [0.02, -0.02]
      filter_window_sizes: ["10s", "20s"]
      depth_column: "DEPTH"
    diagnostics: false
